stweg3/n8n-save-workflow.json
{
  "name": "STWEG3 Save JSON",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stweg3-save-json",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-save",
      "name": "Webhook Save",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "stweg3-save-json"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.email }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.data }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-save-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "={{ $env.GITHUB_API_URL || 'https://api.github.com/repos/YOUR_USERNAME/YOUR_REPO/contents/stweg3/kontakte.json' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "get-current-file",
      "name": "Get Current File (GitHub)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "authentication": "none",
        "method": "PUT",
        "url": "={{ $env.GITHUB_API_URL || 'https://api.github.com/repos/YOUR_USERNAME/YOUR_REPO/contents/stweg3/kontakte.json' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ 'Update kontakte.json via Admin (by ' + $('Webhook Save').item.json.body.email + ')' }}"
            },
            {
              "name": "content",
              "value": "={{ Buffer.from(JSON.stringify($('Webhook Save').item.json.body.data, null, 2)).toString('base64') }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-file-github",
      "name": "Update File (GitHub)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Datei erfolgreich gespeichert\", \"commit\": $json.commit.sha } }}"
      },
      "id": "success-response-save",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ { \"success\": false, \"error\": \"Ungültige Anfrage. Email und Daten sind erforderlich.\" } }}"
      },
      "id": "error-response-validation-save",
      "name": "Error Response - Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={{ { \"success\": false, \"error\": \"Fehler beim Speichern: \" + $json.error } }}"
      },
      "id": "error-response-save-failed",
      "name": "Error Response - Save Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook Save": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Get Current File (GitHub)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current File (GitHub)": {
      "main": [
        [
          {
            "node": "Update File (GitHub)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update File (GitHub)": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T00:00:00.000Z",
  "versionId": "1"
}
