stweg3/n8n-save-workflow.json
{
  "name": "STWEG3 Save JSON (GitHub Nodes)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stweg3-save-json",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-save",
      "name": "Webhook Save",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "stweg3-save-json",
      "notes": "Empfängt Speicher-Anfragen vom Admin-Tool"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.email }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.data }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-save-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300],
      "notes": "Prüft ob E-Mail und Daten vorhanden sind"
    },
    {
      "parameters": {
        "jsCode": "// Konfiguration\nconst REPO_OWNER = 'Rosenweg';\nconst REPO_NAME = 'Website';\nconst FILE_PATH = 'stweg3/kontakte.json';\nconst BRANCH = 'main';\n\n// Daten aus Webhook\nconst webhookData = $input.item.json.body;\nconst email = webhookData.email;\nconst jsonData = webhookData.data;\n\n// Formatiere JSON schön mit 2 Spaces Einrückung\nconst formattedContent = JSON.stringify(jsonData, null, 2);\n\n// Commit-Message\nconst commitMessage = `📝 Update kontakte.json via Admin\\n\\nBearbeitet von: ${email}\\nZeitpunkt: ${new Date().toISOString()}`;\n\nreturn {\n  json: {\n    repoOwner: REPO_OWNER,\n    repoName: REPO_NAME,\n    filePath: FILE_PATH,\n    branch: BRANCH,\n    fileContent: formattedContent,\n    commitMessage: commitMessage,\n    email: email\n  }\n};"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 200],
      "notes": "Bereitet Daten für GitHub vor (ohne Variablen)"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": "={{ $json.repoOwner }}",
        "repository": "={{ $json.repoName }}",
        "filePath": "={{ $json.filePath }}",
        "additionalParameters": {
          "branch": "={{ $json.branch }}"
        }
      },
      "id": "get-current-file",
      "name": "Get Current File SHA",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [850, 200],
      "notes": "Holt die aktuelle Datei-SHA von GitHub"
    },
    {
      "parameters": {
        "jsCode": "// Hole die SHA aus dem GitHub Response\nconst githubData = $input.first().json;\nconst previousData = $input.all()[1].json;\n\n// GitHub gibt die SHA im sha Feld zurück\nconst fileSha = githubData.sha;\n\nreturn {\n  json: {\n    ...previousData,\n    fileSha: fileSha\n  }\n};"
      },
      "id": "merge-sha",
      "name": "Merge SHA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200],
      "notes": "Kombiniert SHA mit den vorherigen Daten"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": "={{ $json.repoOwner }}",
        "repository": "={{ $json.repoName }}",
        "filePath": "={{ $json.filePath }}",
        "fileContent": "={{ $json.fileContent }}",
        "commitMessage": "={{ $json.commitMessage }}",
        "additionalParameters": {
          "branch": "={{ $json.branch }}",
          "sha": "={{ $json.fileSha }}"
        }
      },
      "id": "update-file-github",
      "name": "Update File on GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1250, 200],
      "notes": "Schreibt die aktualisierte Datei zurück nach GitHub"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \n  success: true, \n  message: 'Datei erfolgreich gespeichert', \n  commit: $json.commit.sha,\n  url: $json.commit.html_url,\n  timestamp: new Date().toISOString()\n} }}"
      },
      "id": "success-response-save",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 200],
      "notes": "Erfolgsbestätigung mit Commit-Details"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ { success: false, error: 'Ungültige Anfrage. Email und Daten sind erforderlich.' } }}"
      },
      "id": "error-response-validation-save",
      "name": "Error Response - Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400],
      "notes": "Fehler bei ungültiger Eingabe"
    },
    {
      "parameters": {
        "jsCode": "// Hole Prepare Data vom anderen Branch\nconst prepareNode = $('Prepare Data');\nif (prepareNode && prepareNode.item) {\n  return { json: prepareNode.item.json };\n}\nreturn { json: $input.item.json };"
      },
      "id": "pass-prepare-data",
      "name": "Pass Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "notes": "Gibt Daten von Prepare Data weiter für Merge"
    }
  ],
  "connections": {
    "Webhook Save": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Get Current File SHA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pass Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current File SHA": {
      "main": [
        [
          {
            "node": "Merge SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Prepare Data": {
      "main": [
        [
          {
            "node": "Merge SHA",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge SHA": {
      "main": [
        [
          {
            "node": "Update File on GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update File on GitHub": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "STWEG3",
      "id": "1"
    },
    {
      "name": "Admin",
      "id": "2"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T13:00:00.000Z",
  "versionId": "3"
}
